<main class="windowContainer">
    <div>
        <h1>Вход</h1>
        <form [formGroup]="loginForm" (submit)="onSubmit()">
            <p class="error" *ngIf="error.length > 0">{{ error }}</p>
            <div class="inputGrid">
                <p>Email: </p>
                <input type="text" formControlName="email" required>
                <p>Пароль: </p>
                <input type="password" formControlName="password" required>
            </div>
            <!-- <table>
                <tr>
                    <td>
                        <span>Email: </span>
                    </td>
                    <td><input type="text" formControlName="email" required></td>
                </tr>
                <tr>
                    <td>
                        <span>Пароль: </span>
                    </td>
                    <td><input type="password" formControlName="password" required></td>
                </tr>
            </table> -->
            <a routerLink="/account/reset">Забыли пароль?</a>
            <button class="colored" type="submit" [disabled]="!loginForm.valid">Войти</button>
            <a routerLink="/register">Регистрация</a>
        </form>
    </div>
</main>