<!-- <h2>Параметры поиска</h2>
<form [formGroup]="searchParamsForm" (submit)="submitSearch()">
    <table>
        <tr>
            <td><span>Название: </span></td>
            <td><input type="text" formControlName="title"></td>
        </tr>
        <tr>
            <td><span>Теги: </span></td>
            <td><input type="text" formControlName="tags"></td>
        </tr>
    </table>
    <button type="submit">Поиск</button>
</form>
<p><button (click)="help()">Помощь</button></p> -->

<ng-container *ngIf="!isLoading">
    <h1>Поиск по 
        <span *ngIf="tags.length === 1">тегу "{{ tags[0] }}"</span>
        <span *ngIf="tags.length > 1">тегам <span *ngFor="let tag of tags">"{{ tag }}" </span></span>
    </h1>
    <div class="postCardContainer">
        <app-post-card
            *ngFor="let post of filteredPosts"
            [title]="post.title"
            [id]="post.id"></app-post-card>
    </div>
</ng-container>
<ng-container *ngIf="isLoading">
    <h1>Поиск...</h1>
    <p>Загрузка...</p>
</ng-container>