:host {
    position: relative;
    // width: 300px;
    aspect-ratio: 461 / 307;
    border: 1px solid var(--border-color);
    overflow: hidden;
    background: var(--dark-color);
    transition-duration: .1s;
    color: white;
    box-shadow: 0 3px 5px 0 var(--dark-more-transparent-color);
}

:host:hover {
    background: var(--lighter-dark-color);
}

:host:active {
    transform: scale(0.98);
    box-shadow: none;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    background: var(--dark-color);
}

footer {
    display: flex;
}

p.title {
    padding: 7px;
    text-align: center;
    position: absolute;
    bottom: 0;
    background: var(--dark-transparent-color);
    margin: 0;
}

button {
    border-top: none;
    border-bottom: none;
    border-right: none;
}