<div class="comment" [ngClass]="author ? 'authoringPresent' : ''">
    <p class="author">{{ comment?.nickname }}</p>
    <p class="text">{{ comment?.text }}</p>
    <p class="time">{{ comment?.timestamp | date : 'medium' }}</p>
</div>
<div class="authoring" *ngIf="author">
    <button (click)="toggleEditing(true)">Изменить</button>
    <button (click)="delete()">Удалить</button>
</div>
<div class="editingPanel" *ngIf="isEditing">
    <h3>Изменить комментарий</h3>
    <textarea [formControl]="editedComment" maxlength="500"></textarea>
    <div class="authoring">
        <button (click)="edit()" [disabled]="!editedComment.valid">Отправить</button>
        <button (click)="toggleEditing(false)">Отмена</button>
    </div>
</div>