:host {
    padding: 0 10% 10px 10%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    max-width: 1600px;
    height: 100%;
    box-sizing: border-box;
}

// For post image
@media (max-width: 1180px) {
    :host {
        padding: 0 10px 10px 10px;
    }
}

// Header
header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    align-items: center;
    position: sticky;
    top: 0px;
    padding: 10px;
    z-index: 3;
    border-radius: 0 0 15px 15px;
    backdrop-filter: blur(10px);
    background: #222222AA;
}

div.logo {
    font-size: 28px;
    color: white;
    font-weight: 700;
}

div.menu {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

div.menu>a {
    border-radius: 20px;
    background: #222;
    color: white;
    text-decoration: none;
    padding: 5px 10px 5px 5px;
    display: flex;
    gap: 3px;
    transition-duration: 0.25s;
}

div.menu>a:hover {
    background: #555;
}

div.menu>a:active {
    background: white;
    color: black;
    transition-duration: 0s;
}

// Position last item at the end of container
div.menu > a:last-child {
    margin-left: auto;
}

@media (max-width: 720px) {
    header {
        // grid-template-columns: none;
        // grid-template-rows: auto auto;
    }

    div.menu {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        a {
            width: 18px;
        }

        > a:last-child {
            margin-left: auto;
        }
    }
}

span.spacer {
    flex-grow: 1;
    gap: 0;
}

// End Header

// Footer

footer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "l c"
        "t c"
        "e e";
    gap: 10px;
    color: white;
    box-sizing: content-box;
}

footer div.logo {
    grid-area: l;
}

footer div.text {
    grid-area: t;
}

footer div.contacts {
    grid-area: c;
    h1, h2, h3, h4 {
        margin: 0;
    }
}

footer p.copyright {
    grid-area: e;
    font-size: 12px;
    margin-top: 50px;
}

footer p {
    margin: 0;
}

// End Footer