<div class="mainContainer">
  <header>
    <h1 class="logo">Non&Meron</h1>
  </header>
  
  <div class="links">
    <a routerLink="">Главная</a>
    <a routerLink="search">Поиск</a>
    <a routerLink="account">Аккаунт</a>
    <a routerLink="admin" *ngIf="isAdmin">АдминПанель</a>
  </div>

  <main>
    <div class="routerContainer">
      <router-outlet></router-outlet>
    </div>
  </main>

  <footer>
    2022 Merona & Nonoi. Копирайта нет, но вы держитесь.
  </footer>
</div>

<div class="messageContainer" *ngIf="showWelcomeWindow" [@welcomeScreen]="showWelcomeWindow">
  <div class="message">

    <h1>
      Добро пожаловать на сайт Non&amp;Meron!
    </h1>

    <p>
      Non&amp;Meron ― веб-сайт двух человек с никнеймами Nonoi и Merona, которые выкладывают здесь фотографии в виде
      постов.
    </p>
    <p>
      Разработчик - Merona (@catink123 во всех соц. сетях)
    </p>
    <p>
      Дизайнеры - Merona, Nonoi (@nonoi_the_maid)
    </p>

    <button (click)="confirmWelcomeWindow()">
      Закрыть
    </button>
  </div>
</div>