:host {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
}

h3 {
    margin: 0;
}

div.commentBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background: #333;
    border-radius: 20px;
}

div.toolbar {
    display: flex;
    gap: 10px;
}

#showButton {
    width: 100%;
    text-align: center;
}