/* You can add global styles to this file, and also import other style files */
/* body {
    // --dark-color: #47271b;
    --dark-color: hsl(16, 25%, 19%);
    // --darker-color: #291a15;
    --darker-color: hsl(15, 25%, 12%);
    --dark-color-transparent: rgba(71, 39, 27, 0.85);
    --dark-shadow-color: rgba(71, 39, 27, 0.5);
    --light-color: #f9eed2;
    --lighter-color: rgb(255, 250, 239);
    --light-color-transparent: rgba(249, 238, 210, 0.85);
    --border-color: #64483e;
    --active-color: #291a15;
    margin: 10px 10%;
    border: 2px solid var(--border-color);
    background: url(assets/backdrop.jpg);
    background-size: contain;
    background-attachment: fixed;
    color: var(--darker-color);
    border-radius: 15px;
} */

:root {
    --shadow: 0 0 15px 5px black;
    --control-shadow: 0 3px 5px 0 var(--dark-more-transparent-color);
    --dark-color: #222;
    --dark-transparent-color: #222222CC;
    --dark-more-transparent-color: #22222288;
    --lighter-dark-color: #777;
    --light-color: #CCC;
    --light-transparent-color: #CCCCCCCC;
    --accent-color: #a561dd;
    --darker-accent-color: #6f5386;
}

body {
    margin: 0;
    padding: 10px 0;
    background: url(assets/backdrop.jpg);
    background-size: contain;
    background-attachment: fixed;
    font-family: 'Inter';
}

@media (max-width: 575px) {
    body {
        padding: 0;
        background-size: cover;
    }
}

button:disabled,
input:disabled,
textarea:disabled {
    opacity: 0.5;
}

/* Screen Elements */

a {
    color: black;
    font-weight: 300;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    background: #FFFFFF44;
}

a:active {
    background: white;
}

button.special {
    user-select: none;
    appearance: none;
    border: 1px solid white;
    padding: 5px;
    background: var(--light-color);
    color: white;
    font-family: 'Inter', sans-serif;
}

button.special:hover {
    background: #FFFFFF44;
}

button.special:active {
    background: white;
    color: black;
}

button {
    background: var(--dark-color);
    color: white;
    font-family: 'Inter', sans-serif;
    user-select: none;
    appearance: none;
    border: 1px solid var(--dark-color);
    padding: 5px;
    box-shadow: 0 3px 5px 0 var(--dark-more-transparent-color);
    transition-duration: .1s;
}

button:hover {
    border-color: var(--lighter-dark-color);
    background: var(--lighter-dark-color);
}

button:active {
    background: white;
    border-color: white;
    color: black;
    box-shadow: none;
}

p.error {
    padding: 5px;
    border: 1px dashed darkred;
    background: rgb(255, 199, 199);
    color: darkred;
}

p.info {
    padding: 5px;
    border: 1px dashed blue;
    background: rgb(199, 199, 255);
    color: blue;
}

input,
textarea {
    padding: 5px;
    appearance: none;
    border: 1px solid var(--dark-color);
    font-family: serif;
    box-shadow: 0 3px 5px 0 var(--dark-more-transparent-color) inset;
}

label {
    user-select: none;
}

p.center {
    text-align: center;
}

div.cardContainer {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

@media (max-width: 575px) {
    div.cardContainer {
        grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    }
}

div.inlineContainer {
    display: flex;
    gap: 5px;
}