<main class="windowContainer">
    <div>
        <h1>Регистрация</h1>
        <p class="info">Никнейм после регистрации изменить нельзя!</p>
        <p class="error" *ngIf="error.length > 0">{{ error }} <a routerLink="/login"
                *ngIf="error == 'Этот Email уже используется.'">Перейти на страницу входа</a></p>
    
        <form [formGroup]="registerForm" (submit)="onSubmit()">
            <div class="inputGrid">
                <p>Email:</p>
                <input type="text" formControlName="email">
                <p>Никнейм: </p>
                <input type="text" formControlName="nickname">
                <p>Пароль: </p>
                <input type="password" formControlName="password">
            </div>
            <!-- Registration form errors -->
            <p class="error" *ngIf="registerForm.controls['email'].errors?.['pattern']">Уберите пробелы из поля
                Email.</p>
            <p class="error" *ngIf="registerForm.controls['email'].errors?.['email']">Некорректный Email.</p>
            <button class="colored" type="submit" [disabled]="!registerForm.valid">Зарегистрироваться</button>
        </form>
    </div>
</main>