body {
  font-family: 'Josefin Sans';
  background: linear-gradient(#00000011, #000000aa), url("/backdrop.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}